/**
* Project Tank Webpage
* @author Steffen Lange
*/
body{
	min-width: 960px;
	background-size: auto;
	color: #373b3f;
	font-family: Open Sans,"Helvetica CY",Helvetica,Arial,sans-serif;
	text-align: center;
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(242,242,242,1) 0%, rgba(249,249,249,1) 50%, rgba(242,242,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,242,242,1)), color-stop(50%,rgba(249,249,249,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(242,242,242,1) 0%,rgba(249,249,249,1) 50%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(242,242,242,1) 0%,rgba(249,249,249,1) 50%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(242,242,242,1) 0%,rgba(249,249,249,1) 50%,rgba(242,242,242,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(242,242,242,1) 0%,rgba(249,249,249,1) 50%,rgba(242,242,242,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
	background: url('../images/content_bg.jpg') repeat-y 50% 0 #fcfcfc;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

h1{
	margin: 10px 0 5px;
	text-transform: uppercase;
}

h1, h2{
	font-weight: 700;
}

pre{
	z-index: -1;
}

*{
	position: relative;
}

.row{
	width: 100%;
}

.container{
	width: auto;
}

.button-bar{
	display: table;
	width: 100%;
}

.button-bar.bar-top{
	position: absolute;
	top: 0;
}

.navbar{
	border-radius: 0;
}

.navbar a{
	color: inherit;
}

.navbar p{
	cursor: default;
}

.navbar-brand{
	display: block;
	margin: 0;
	z-index: 1000;
}

.navbar-fixed-left{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
}

.nav>li.active,
.nav>li>a:focus, .nav>li>a:hover {
	background-color: rgba(255,255,255,.1);
}

.nav>li.disabled>a,
.nav>li.disabled>a:focus,
.nav>li.disabled>a:hover{
	color: #474747;
	cursor: default;
}

.nav-stacked>li+li {
	margin: 0;
}

.topbar .container{
	position: static;
}

.navbar-header {
	position: absolute;
	left: 0;
	width: 240px;
}

.navbar-header .navbar-brand{
	float: none;
}

.sidebar,
.topbar {
/*	background-color: #333;*/
/*	background-color: #2a2d30;*/
	background-color: rgba(0,0,0,.8);
	color: #838383;
}

.topbar {
/*	border-bottom: 1px solid red;*/
/*	box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.5);*/
}

.sidebar{
	width: 240px;
	margin: 50px 0 0;
	border: 0;
	z-index: 300;
}

.sidebar-header{
	padding: 10px;
/*	background-color: rgba(255,255,255,.4);*/
	background-color: rgba(0,0,0,.8);
}

.sidebar-content{
	padding: 10px;
	background-color: rgba(0,0,0,.6);
/*	background-color: rgba(255,255,255,.2);*/
}

.sidebar-nav,
.sidebar-nav h5{
	text-align: left;
	font-weight: 700;
	text-transform: uppercase;
}

.sidebar-nav h5{
	padding: 0 15px;
	font-size: 11px;
}

.sidebar-nav i{
	width: 30px;
	text-align: center;
}

.content-wrapper {
	margin: 50px 0 0 0;
	padding: 0 0 0 240px;
	text-align: left;
/*	z-index: -1;*/
}

.content {
	padding: 50px 10px;
}

/* side bar contents */

.sidebar-info{
	min-height: 50px;
}

.sidebar-info h4{
	margin: 5px;
}

.row,
.sidebar-info h5,
.sidebar-info ul.row{
	margin: 0;
	padding: 0;
}

.sidebar-info ul.row{
	text-align: left;
}

.sidebar-info h5 i,
.sidebar-info h5 span{
	display: inline-block;
	min-width: 28px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
}


/* border header */


/* span color themes */

span.error	{color: red;}
span.warning{color: yellow;}
span.success{color: limegreen;}
span.info	{color: #008fff;}
span.boon	{color: inherit;}
span.average{color: #ffcc00;}
span.good	{color: limegreen;}
span.elite	{color: #008fff;}
span.legend	{color: #f300d6;}

/* custom boxes */

.board-head{
	position: fixed;
	width: 100%;
	padding: 10px;
	color: #6e6e6e;
/*	background-color: #fafafa;*/
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.board-head h3{
	margin: 10px 0px 7px;
}

.b-breadcrumb{
/*	padding: 7px;*/
/*	border-top: 1px solid #e2e2e2;*/
	font-size: smaller;
}

.b-breadcrumb span{
	color: #9e9e9e;
	text-transform: uppercase;
}

.breadcrumb{
	display: inline-block;
	margin: 0;
	padding: 0;
	background: none;
}

.breadcrumb a{
	color: #6e6e6e;
}

.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #777;
	content: "\00bb";
	font-size: small;
}

.b-info{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 5px;
	margin: 10px 0;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #fff #e2e2e2 #e2e2e2 #fff;
}

/* custom elements */

.switch{
	display: table;
	margin: 0 auto;
	/*border-radius: 3px;*/
	/*border: 1px solid rgba(0,0,0,.2);
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.6),0 1px 3px 0 rgba(0,0,0,0.2) inset;
	*/overflow: hidden;
}

.switch > input[type='radio']{
	position: absolute;
	clip: rect(0,0,0,0);
}

.switch > input[type='radio']+label{
	display: inline-block;
	font-weight: 700;
	margin: 0;
	padding: 6px 12px;
	border-radius: 2px;
	width: 60px;
	text-align: center;	
	text-transform: uppercase;
}

.switch > input[type='radio']+label:last-child{
	margin-left: 2px;
}

.switch > input[type='radio']:checked+label:last-child{
	color: #f05252;
}

.switch > input[type='radio']:not(:checked)+label{
	color: rgba(0, 0, 0, 0.5);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.switch > input[type='radio']:checked+label{
	color: #6ad76a;
	/*text-shadow: 1px 1px 0px #fff;*/
	box-shadow: 0px 0px 6px 0px black, 0px 1px 1px 0px rgba(255, 255, 255, 0.7) inset;
	/*background: rgba(255,255,255,.8);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(226,226,226,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(226,226,226,0.8)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(226,226,226,0.8) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(226,226,226,0.8) 100%); 
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(226,226,226,0.8) 100%); 
	background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(226,226,226,0.8) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#cce2e2e2',GradientType=0 );
*/}

.switch:hover > input[type='radio']:checked+label{/*
	color: rgba(0, 0, 0, 0.5);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);*/
}

.switch:hover > input[type='radio']:not(:checked)+label{
/*	color: #6ad76a;
	text-shadow: 1px 1px 0px #fff;*/
}

div.dd-container{
	box-sizing: initial;
}

.dd-container .dd-select{
	border: 0;
}

.dd-selected{
	/*border-radius: 3px;
	background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(226,226,226,0.8) 100%);
	text-shadow: 1px 1px 0px #fff;*/
}

.dd-option{
	/*text-shadow: 1px 1px 0px #fff;*/
}

/* custom elements - color style */

.switch,
.dd-selected,
div.dd-container{
	border-radius: 3px;
}

.dd-option, .dd-selected,
.switch > input[type='radio']:checked+label{
	text-shadow: 1px 1px 0px #fff;
}

.switch,
div.dd-container{
	border: 1px solid rgba(0,0,0,.2);
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.6),
				0 1px 3px 0 rgba(0,0,0,0.2) inset;
}

.dd-selected,
.switch > input[type='radio']:checked+label{
	/*text-shadow: 1px 1px 0px #fff;*/
	background: rgba(255,255,255,.8);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(226,226,226,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(226,226,226,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(226,226,226,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(226,226,226,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(226,226,226,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(226,226,226,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#cce2e2e2',GradientType=0 ); /* IE6-9 */

}


/* bs-callout boxes by Chris Pratt 
 * http://cpratt.co/twitter-bootstrap-callout-css-styles/
 */

.bs-callout {
	color: #777;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
	color: #777;
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}


.bs-callout-default h4	{color:#777}
.bs-callout-primary h4	{color:#428bca}
.bs-callout-success h4	{color:#5cb85c}
.bs-callout-danger h4	{color:#d9534f}
.bs-callout-warning h4	{color:#f0ad4e}
.bs-callout-info h4		{color:#5bc0de}

.bs-callout-default	{border-left-color:#777}
.bs-callout-primary	{border-left-color:#428bca}
.bs-callout-success	{border-left-color:#5cb85c}
.bs-callout-danger	{border-left-color:#d9534f}
.bs-callout-warning	{border-left-color:#f0ad4e}
.bs-callout-info	{border-left-color:#5bc0de}

/* custom callouts */

.bs-callout-custom{
	padding: 0;
	border-radius: 0;
	border-color: #777;
	border-width: 3px 0px 0px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.bs-callout-custom h4{
	margin: 0;
	border-bottom: 1px solid #e2e2e2;
}

.bs-callout-custom h4,
.bs-callout-custom > div{
	width: 100%;
	padding: 10px;
}

.bs-callout-custom.bs-callout-default	{border-color:#777}
.bs-callout-custom.bs-callout-primary	{border-color:#428bca}
.bs-callout-custom.bs-callout-success	{border-color:#5cb85c}
.bs-callout-custom.bs-callout-danger	{border-color:#d9534f}
.bs-callout-custom.bs-callout-warning	{border-color:#f0ad4e}
.bs-callout-custom.bs-callout-info		{border-color:#5bc0de}

/* custom boxes */

.row-table{
	display: table;
	color: #373b3f;
}

.row-table h5{
	margin: 3px 0;
	color: #373b3f;
	font-weight: 700;
}

.row-table small{
	color: #777;
}

.row-table > li{
	float: none;
	display: table-cell;
	color: #777;
	vertical-align: middle;
}

/* ddslick fixes */

.dd-container{
	line-height: 1;
	margin: 0 auto;
}

.dd-selected{
	color: #373b3f;
}

.dd-selected:focus,
.dd-selected:hover{
	color: #373b3f;
	text-decoration: none;
}

/* custom buttons */

.btn{
	border-width: 1px 1px 3px 1px;
}

.btn-big{
	font-size: 18px;
	padding: 6px 32px;
}

/* tooltips */

li[data-tooltip],
span[data-tooltip]{
	cursor: default;
}

li[data-tooltip]:hover:after,
span[data-tooltip]:hover:after{
	content: attr(data-tooltip);
	position: absolute;
	left: 100%;
	top: 0;
	padding: 0 4px;
	margin-left: 10px;
	min-width: 50px;
	color: #838383;
	background-color: rgba(0,0,0,.9);
	border-radius: 6px;
	text-align: left;
	text-transform: none;
	z-index: 999;
}

li[data-tooltip]:hover:before,
span[data-tooltip]:hover:before{
	content: '';
	position: absolute;
	left: 100%;
	top: 4px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 10px 5px 0;
	border-color: transparent rgba(0,0,0,.9) transparent transparent;
}

.tooltip-nowrap:after{
	white-space: nowrap;
	padding: 2px 4px;
}

.tooltip-small:after{
	font-size: smaller;
}

li[data-tooltip].tooltip-text:after,
span[data-tooltip].tooltip-text:after{
	min-width: 120px;
	font-size: smaller;
}

/* image container */

i.wot{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

i.wot-emblem-large{
	width: 64px;
	height: 64px;
}

i.wot-rank {
	min-width: 28px;
	min-height: 28px;
}

i.wot-noclan{
	background-image: url(images/wot/clan/noclan_emblem_64x64.png);
}

i.wot-norating:after{
	content: 'No rating';
}


/*
i.wot-noclan:after{
	content: 'No Clan';
	text-transform: uppercase;
}
*/



