/**
* Project Tank Webpage
* @author Steffen Lange
*/
h2{
	margin-bottom: 0;
}

h2+h3{
	margin-top: 0;
}

.stats-table{
	color: #838383;
	background-color: #484D57;
	text-align: left;
}

.stats-table tr{
/*	background-color: #484D57;*/
/*	background-color: rgba(0,0,0,.1);*/
}

.stats-table tr:nth-child(even){
/*	background-color: #3C4049;*/
	background-color: rgba(0,0,0,.1);
}

.stats-table th,
.stats-table td{
	padding: 7px;
}

.stats-table th{
	text-align: center;
	width: 100px;
/*	background-color: #32363D;*/
	background-color: rgba(0,0,0,.2);
	border: 1px solid #838383;
}

.stats-table td{
/*	background-color: #484D57;*/
	border: 1px solid #838383;
	color: #a0a0a0;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.stats-table td:nth-child(even){
/*	background-color: #484D57;*/
}
.stats-table.fixed-top {
	position: fixed;
	top: 88px;
	box-shadow: 0px 2px 2px -1px black;
}

/* tablesorter */

.stats-table th.header:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.stats-table th.header.headerSortUp,
.stats-table th.header.headerSortDown {
	background-color: rgba(0, 0, 0, 0.1);
}

.stats-table colgroup.sorted{
	background-color: rgba(0,0,0,.6);
}

/* custom box */

.icon-title{
	display: inline-block;
	font-size: 10px;
	text-align: center;
}

.icon-title i{
	display: block;
	font-size: 28px;
	text-align: center;
}

/* bs custom */

.progress{
	margin: 0;
	border-radius: 0;
}

#loader_membersTable{
	margin: 50px 0;
}
