small{
    display: block;
}

textarea{
    min-height: 120px;
    max-width: 100%;
}

input{
    min-width: 75px;
}

.page-wrapper{
    text-align: left;
}

.creator{
    text-align: left;
}

.creator input,
.creator textarea{
    display: block;
    width: 100%;
}

.button-bar {
    margin-top: 20px;
}

.button-bar button{
    min-width: 130px;
}

ul.thumbnails.image_picker_selector li .thumbnail img{
    height: 150px;
}

.callout-content .col-xs-6:last-child {
    /*text-align: right;*/
}
.callout-content .col-xs-6:last-child input{
    width: 100%;
}

.dd-container label{
    margin-bottom: 0!important;
}

.dd-options,
.dd-container{
    width: 100%!important;
}

.dd-options{
    max-height: 300px;
}

.dd-select{
    width: auto!important;
}

.dd-select,
.dd-selected{
    height: 100%!important;
}


